
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbfbff;
    font-family: 'Fraunces', serif;
    height: 100vh;
}

h1 {
    font-family: 'Fraunces', serif;
    text-align: center;
    color: #040f8b;
    margin: 1rem 0 1rem 0;
}

main {
    margin-top: 2rem;
    max-width: 30rem;
    margin-inline: auto;
    background-color: #fff;
    border-radius: .5rem;
    padding: 3rem;
    box-shadow: 2px 5px 10px #888888;
}

input {
    width: 100%;
    padding: 1rem;
    border-radius: .3rem;
    outline: none;
}

input#submit {
    background-color: #040f8b;
    color: #fff;
}